$primary: hsl(210, 5%, 8%);
$primary-light: #e7f1ff;
$bg: #f5f7fa;
$text: hsl(0, 4%, 87%);

$card-shadow: rgba(0, 0, 0, 0.1);
$card-hover: rgba(13, 110, 253, 0.1);
$radius: 12px;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;

$font-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$img-path: "../assets/img";
$bg-weather: $img-path + "/bg-weather.jpg";


